<div class="container bg-dark">
  <div class="d-flex flex-column flex-md-row align-items-center mb-4 p-1">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
      <app-header></app-header>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 p-2 text-white text-decoration-none hover" routerLink="/about">Sobre</a>
      <a class="me-3 p-2 text-white text-decoration-none hover" routerLink="/">Produtos</a>
    </nav>
    <a href="#" class="btn btn-outline-primary">Sign up</a>
  </div>
</div>
