<div class="card">
  <div class="card-header">Filtros</div>
  <div class="card-body">
    <form class="row g-2">
      <div class="col-md-6 mb-2">
        <div class="form-floating">
          <input type="number" name="de" id="de" class="form-control">
          <label for="de">De</label>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-floating">
          <input type="number" name="ate" id="ate" class="form-control">
          <label for="ate">Até</label>
        </div>
      </div>
      <button class="btn btn-primary btn-sm text-center">Filtrar</button>
    </form>
  </div>
</div>
